---
import Layout from '../layouts/Layout.astro';
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Projects from '../components/Projects.astro';
import '../css/about.css';
import '../css/boton.css';
import '../css/card.css';
import '../css/home.css';
import '../css/layout.css';
import '../css/navbar.css';
import '../css/projects.css';
---

<Layout title="Mario Lozano" descripcion="Mi portfolio web" image="/src/imagepreview/preview.gif">
  <main>
    <Navbar />
    <Home />
    <About />
    <Projects />
  </main>
</Layout>


