---
import Layout from '../layouts/Layout.astro';
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Projects from '../components/Projects.astro';
---

<Layout title="Mario Lozano" descripcion="Mi portfolio web" image="/src/imagepreview/preview.gif">
  <main>
    <Navbar />
    <Home />
  </main>

  <About />
  <Projects />
</Layout>


