---
import Layout from '../layouts/Layout.astro';
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Projects from '../components/Projects.astro';
---

<Layout title="Mario Lozano">
	<main>
		<Navbar></Navbar>
		<Home></Home>
	</main>
</Layout>
	
<About></About>
<Projects></Projects>



