---
import Layout from '../layouts/Layout.astro';
import Home from "../components/Home.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
  title="Mario Lozano"
  description="Sofwtare Engineer, Backend/Frontend programmer, 3D Printing Enthusiast. If you can imagine, you can make it! ^^"
  image="https://mar7155.github.io/preview/profile.jpg",
  url="https://mar7155.github.io">
  <main>
    <Navbar />
    <Home />
    <About />
    <Projects />
    <Footer />
  </main>
</Layout>


