<a class="boton"  href="h">
    <p class="link">View Project 
        
    </p>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="38px"
            height="38px"
            viewBox="0 0 24 23">
            <path
                fill="#ffffff"
                d="M13.429 16.044q-.404.268-.82.032q-.417-.236-.417-.728V12.5H3.577q-.213 0-.356-.144t-.144-.357t.144-.356t.356-.143h8.615V8.652q0-.492.417-.728q.416-.236.82.032l5.285 3.367q.378.238.378.675t-.378.679zm-.237-1.04L17.91 12l-4.718-3.004zm0-3.004">
            </path>
        </svg>
</a>

<style>
    .boton {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		width: 12rem;
		margin: 2rem 0rem 0rem 0rem;
		background: rgb(0, 0, 0);
		border-radius: 4px;
		gap: 8px;
		text-decoration: none;
		transition: ease-in-out .2s;
	}
	.boton p{
		color: whitesmoke;
		font-family: var(--font-rethink_sans), sans-serif;
		font-size: 16px;
	}

	.boton:hover{
		background: rgba(0, 0, 0, 0.658);
		transition: ease-in .3s;
	}
</style>