<footer>
    <div class="social">
        <a href="https://github.com/Mar7155">GitHub</a>
        <a href="https://www.linkedin.com/in/mario-lozano-m%C3%A1rquez-562b732b5?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Linkedln</a>
        <a href="https://www.instagram.com/mar_111755">Instagram</a>
    </div>
</footer>

<style>
    footer{
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: row;
        width: 100%;
        height: 12vh;
    }
    .social{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        gap: 3rem;
        font-size: medium;
    }
</style>