---
import '../css/home.css';
---

<section class="contenedor" id="Home">
	<div class="box-informacion">
		<div class="box-text">
			<h1 class="saludo">Hi, i'm Mario</h1>
			<p class="descripcion">
				I'm a software engineer with a passion for building elegant and
				efficient web applications.
			</p>
		</div>
		<div class="camp">
			<button id="scrollButton" class="box-boton">
				<div class="bt">View my works</div>
				<svg
					class="icon"
					xmlns="http://www.w3.org/2000/svg"
					width="2em"
					height="2em"
					viewBox="0 0 24 24"
					><path
						fill="#ffffff"
						d="m12 21l-6.346-6.346l.688-.713l5.158 5.157v-7.117h1v7.136l5.158-5.152l.688.689zm-.5-11.02v-3h1v3zm0-5v-2h1v2z"
					></path>
				</svg>
			</button>
		</div>
	</div>
	<!-- <div class="box-img">
		<img src="/profile.jpg" width="600px" height="600px" alt="my photo" />
	</div>-->
	
</section>

