<section class="contenedor" id="Home">
    <div class="box-informacion">
        <div class="box-text">
            <h2 class="saludo">Hi, i'm Mario</h2>
            <p class="descripcion">
                Full-Stack Software Engineer & Cloud Enthusiast. Experienced in 
                building web applications with Java, TypeScript, and Node.js.
            </p>
        </div>
        <div class="camp">
            <button id="scrollButton" class="box-boton">
                <div class="bt">View my works</div>
                <svg
                    class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="2em"
                    height="2em"
                    viewBox="0 0 24 24"
                    ><path
                        fill="#ffffff"
                        d="m12 21l-6.346-6.346l.688-.713l5.158 5.157v-7.117h1v7.136l5.158-5.152l.688.689zm-.5-11.02v-3h1v3zm0-5v-2h1v2z"
                    ></path>
                </svg>
            </button>
        </div>
    </div>
</section>

<style>
    .icon {
        padding-left: 4px;
    }
    .contenedor {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
    }
    .box-text {
        text-wrap: pretty;
    }
    .saludo {
        text-align: center;
        font-size: 60px;
        margin: 2rem 0rem;
    }
    .descripcion {
        font-size: 20px;
        text-align: center;
        max-width: 60ch;
    }

    .camp {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }
    .camp .box-boton {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 12rem;
        backdrop-filter: blur(4px);
        transition: all 300ms cubic-bezier(0.75, 0.82, 0.165, 1);
        cursor: pointer;
        gap: 8px;
    }

    button {
        background: transparent;
        border-color: transparent;
        font-family: Roboto, sans-serif;
        font-size: 17px;
        color: whitesmoke;
        width: 100%;
        height: 100%;
        padding-right: 0px;
        cursor: pointer;
        z-index: 1;
    }

    .box-boton:after,
    .box-boton:before {
        content: "";
        position: absolute;
        display: block;
        border: 0px solid transparent;
    }
    .box-boton:after {
        width: 0%;
        height: 80%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transition: all 0.6s ease;
    }

    .box-boton:before {
        width: 100%;
        height: 0%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        transition: all 0.6s ease;
    }

    .box-boton:hover::before {
        height: 80%;
    }

    .box-boton:hover::after {
        width: 100%;
    }
</style>
