---
import Proyecto1 from "../imageprojects/Proyect1.webp";
import Proyecto2 from "../imageprojects/Proyect2.webp";
import Proyecto3 from "../imageprojects/Proyect3.webp";
import Card from "./Card.astro";
---

<section class="contenedor-Projects" id="Projects">
	<h1>PROJECTS</h1>
	<div class="grid-layout-Projects">
		<div class="box-Projects">
			<Card numero="Project 1" descripcion="Web site built with astro and react" href="https://ieee-estl.com/" proyecto={Proyecto1}> 
			</Card>
		</div>
		<div class="box-Projects">
			<Card numero="Project 2" descripcion="Point of sales built with Java, Postgres and Docker" href="https://github.com/Mar7155/KokosControl/" proyecto={Proyecto2}> 
			</Card>
		</div>
		<div class="box-Projects">
			<Card numero="Project 3" descripcion="Web site in pogress for my bussines" href="https://mar7155.github.io/" proyecto={Proyecto3}> 
			</Card>
		</div>
	</div>
</section>