---
import Proyecto1 from "../imageprojects/Proyect1.webp";
import Proyecto2 from "../imageprojects/Proyect2.webp";
import Proyecto3 from "../imageprojects/Proyect4.webp";
import Card2 from "./Card2.astro";
import Tag from "./Tag.astro";
---

<section class="contenedor-Projects" id="Projects">
	<h2>PROJECTS</h2>
	<div class="grid-layout-Projects">
		<div class="box-Projects">
			<Card2
				titulo="IEEE-ESTL"
				descripcion="Web site built with astro and react"
				href="https://ieee-estl.com/"
				proyecto={Proyecto1}
			>
				<Tag cargo="Web Master" />
				<Tag cargo="Front-End" />
				<Tag cargo="Astro" />
				<Tag cargo="React" />
			</Card2>
		</div>
		<div class="box-Projects">
			<Card2
				titulo="Kokos-Control"
				descripcion="Point of sales built with Java, Postgres and Docker"
				href="https://github.com/Mar7155/KokosControl/"
				proyecto={Proyecto2}
			>
				<Tag cargo="Back-End" />
				<Tag cargo="Java" />
			</Card2>
		</div>
	<div class="box-Projects">
			<Card2
				titulo="IEEE-ESTL-CInSoft"
				descripcion="Web Site to Promove CInSoft event"
				href="https://cinsoft.ieee-estl.com/"
				proyecto={Proyecto3}
			>
				<Tag cargo="Front-End" />
				<Tag cargo="React" />
				<Tag cargo="TailwindCSS">
			</Card2>
		</div>
		</div>
	</div>
</section>

<style>
	h2{
		font-size: 50px;
	}
	.contenedor-Projects {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin: 4rem 0rem;
		background-color: rgb(0, 0, 0);
	}

	.grid-layout-Projects {
		display: grid;
		justify-content: center;
		padding: 8rem 5rem 8rem 5rem;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
	}

	@media (max-width: 1400px) {
		.grid-layout-Projects {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 1000px) {
		.grid-layout-Projects {
			grid-template-columns: 1fr;
		}
		.contenedor-Projects {
			gap: 4rem;
		}
	}

	@media (max-width: 800px) {
		.grid-layout-Projects {
			grid-template-columns: 1fr;
			padding: 0;
		}
		.contenedor-Projects {
			padding-top: 6rem;
		}
	}
</style>
