---
import Project1 from "../imageprojects/Proyect1.webp";
import Project5 from "../imageprojects/Project5.webp";
import LimpiaClick from "../imageprojects/LimpiaClick-preview.webp";
import Card2 from "./Card2.astro";
import Tag from "./Tag.astro";
---

<section class="contenedor-Projects" id="Projects">
	<h2>PROJECTS</h2>
	<div class="grid-layout-Projects">
		<div class="box-Projects">
			<Card2
				titulo="IEEE-ESTL"
				descripcion="Web site built with astro and react"
				href="https://ieee-estl.com/"
				proyecto={Project1}
			>
				<Tag cargo="Web Master" />
				<Tag cargo="Front-End" />
				<Tag cargo="Astro" />
				<Tag cargo="React" />
			</Card2>
		</div>
		<div class="box-Projects">
			<Card2
			titulo="Limpia Click Landing"
			descripcion="Landing page with waithlist to promove an startup project"
			href="https://limpiaclick-landing.vercel.app/"
			proyecto={LimpiaClick}
			>
			<Tag cargo="Astro" />
			<Tag cargo="React" />
			<Tag cargo="Tailwind" />
			<Tag cargo="Resend" />
			</Card2>
		</div>
		<div class="box-Projects">
			<Card2
				titulo="Making Something"
				descripcion="Website for my own business Making Something"
				href="https://making-something.onrender.com"
				proyecto={Project5}
			>
				<Tag cargo="Full stack" />
				<Tag cargo="Astro" />
				<Tag cargo="React" />
				<Tag cargo="Express" />
			</Card2>
		</div>
	</div>
	</div>
</section>

<style>
	h2{
		font-size: 50px;
	}
	.contenedor-Projects {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin: 4rem 0rem;
		background-color: rgb(0, 0, 0);
	}

	.grid-layout-Projects {
		display: grid;
		justify-content: center;
		padding: 8rem 5rem 8rem 5rem;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
	}

	@media (max-width: 1400px) {
		.grid-layout-Projects {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media (max-width: 1000px) {
		.grid-layout-Projects {
			grid-template-columns: 1fr;
		}
		.contenedor-Projects {
			gap: 4rem;
		}
	}

	@media (max-width: 800px) {
		.grid-layout-Projects {
			grid-template-columns: 1fr;
			padding: 0;
		}
		.contenedor-Projects {
			padding-top: 6rem;
		}
	}
</style>
