h1{
    font-family: widythin;
    font-size: 40px;
}
.contenedor-Projects {
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content:space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.grid-layout-Projects{
    display: grid;
    justify-content: center;
    padding: 0rem 5rem 10rem 5rem;
    width: 100%;
    grid-template: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media (max-width: 1500px) {
    .grid-layout-Projects{

        grid-template-columns: 0fr 0fr;
    }
}

@media (max-width: 1000px) {
    .grid-layout-Projects{
        grid-template-columns: 0fr;
    }		
    .contenedor-Projects{
        padding-top: 6rem;
        gap: 4rem;
    }	
}

@media (max-width: 800px) {
    .contenedor-Projects{
        padding-top: 6rem;
        gap: 4rem;
    }	
}