* {
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

html {
    font-family: system-ui, sans-serif;
    color: azure;
    background: #000000;
    background-size: 224px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

main {
    font-family: "Poppins", sans-serif;
    margin: auto;
    width: auto;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}